<p class="titulo-pagina">Update Vehicle</p>
<form id="formUpdate" (ngSubmit)="onSubmit()" [formGroup]="formUpdate">
    <div class="form-group mb-4">
        <label id="labelPlate">Plate (disabled)</label>
        <input id="plate" formControlName="plate" type="text" placeholder="ABC - 1234" class="form-control form-control-underlined">
    </div>
    <div class="form-group mb-4">
        <label id="labelModel">Model</label>
        <input id="model" formControlName="model" type="text" placeholder="Class C 1.6 Avantgarde Turbo Flex" class="form-control form-control-underlined">
    </div>
    <div class="form-group mb-4">
        <label id="labelManufacturer">Manufacturer</label>
        <input id="manufacturer" formControlName="manufacturer" type="text" placeholder="Mercedez-Benz" class="form-control form-control-underlined">
    </div>
    <div class="form-group mb-4">
        <label id="labelColor">Color</label>
        <input id="color" formControlName="color" type="text" placeholder="Black" class="form-control form-control-underlined">
    </div>
    <div class="form-group">
        <div class="form-group label-name-status-radio">
            <label id="labelStatus">Status</label>
        </div>
        <div class="status-radio">
            <input type="radio" id="active" formControlName="status" name="status" value="active">
            <label for="active">Active</label>
        </div>
        <div class="status-radio">
            <input type="radio" id="inactive" formControlName="status" name="status" value="inactive">
            <label for="inactive">Inactive</label>
        </div>
    </div>
    <div class="form-group mb-4">
        <button class="button-reset" type="reset">Reset All</button>
        <button class="button-save" type="submit">Save</button>
    </div>
</form>
<img src="assets/img/car.png" class="car-imagem"/>