html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

mat-dialog-container#modal-component {
    border-radius: 4px;
    background-color: #F7F7F7;
}

.active {
    background-color: #EDEDED;
}
 
.menu {
    a {
        border-radius: 5px;
        font-size: 12px;        
        font-weight: bold;
        color: #888888;
        margin-top: 24px;
        padding: 16px;

        &:hover {
            background-color: #EDEDED;
        }

        svg {
            margin-left: 4px;
            margin-right: 8px;
            height: 14px;
        }
    }
 }

.titulo {
    font-weight: bold;
    color: #555550;
    font-size: 42px;
}

.logotipo {
    margin-bottom: 36px;
    margin-top: 16px;
}

.caixa {
    background-color: #F7F7F7;
    margin-top: 16px;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;

    .titulo-pagina {
        font-weight: bold;
        font-size: 18px;
        color: #555550;
    }
    
    .subtitulo {
        margin-top: 24px;
        margin-bottom: 36px;
        font-size: 10px;
        color: #A3A3A3;
    }
}

.cdk-overlay-backdrop{
    display: none;
}

.overlay-delete {
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    background-color: rgba(0, 0, 0, 0.2);
    top: 15px;
    left: 15px;
    bottom: 0;
    right: 0;
    border-radius: 20px;
}

.cdk-overlay-pane {
    position: absolute !important;
    left: 0;
    margin-left: calc(((100% - 1140px) / 2) + (1140px * 0.25) + (1140px * 0.75 * 0.5) - 125px);
}